.chat-content {
}

.header-chat {
    border-bottom: 1px solid #aea9fe;
    margin: 0px 10px;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    padding: 15px 0px;
}

.header-chat img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}

.header-icons-1 {
    align-items: flex-end;
}

.header-icons-2 {
    grid-row: 1/3;
    align-items: center;
    justify-items: center;
}

.content-chat {
    overflow-y: auto;
    height: 100vh;
    position: relative;
}

#profile-1 {
    margin: 1rem 1rem;
    padding: 1rem;
    line-height: 1.5;
    background-color: #eee;
    color: #9296b1;
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
}

#profile-1 div {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#profile-1 p,
#profile-1 span {
    margin-left: 0.5rem;
}

#profile-1 span,
#profile-2 span {
    font-style: italic;
    font-weight: 300;
}

#profile-2 {
    margin: 1rem 1rem;
    padding: 1rem;
    line-height: 1.5;
    background-color: #665dfe;
    color: #eee;
    border-radius: 1rem;
    display: flex;
    align-items: flex-start;
    flex-direction: row-reverse;
}

#profile-2 p,
#profile-2 span {
    margin-right: 0.5rem;
}

#profile-2 img {
    grid-column: 2;
}

.profile-img {
    width: 60px;
    border-radius: 50px;
}

.chat-footer {
    min-width: 350px;
    background-color: #eee;
    border-top: 1px solid #aea9fe;
    height: 4rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    position: fixed;
    left: 350px;
    right: 0px;
    bottom: 0px;
}

.chat-footer img {
    width: 1.2rem;
    cursor: pointer;
}

div .btn {
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
}

.btn img {
    width: 1.5rem;
}

.btn {
    width: 100px;
    border-radius: 50px;
    background-color: #665dfe;
}

.input-footer {
    background-color: #aea9fe;
    padding: 0.8rem;
    border: none;
    border-radius: 0.5rem;
    outline-style: none;
    flex: 1 1 auto;
}

@media (min-width: 350px) {
    #chat {
        display: block;
        min-width: 350px;
    }

    .header-icons-2,
    .header-icons-1 {
        visibility: hidden;
    }
}
