.footer {
    max-width: 350px;
    height: 3.5rem;
    background-color: #665dfe;
    padding: 10px 0px;
    display: flex;
    justify-content: space-around;
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.footer-icon-conversation {
    width: 1.4rem;
    cursor: pointer;
}
