@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

body {
    max-width: 350px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
    background-color: #d5d2ff;
    color: #545454;
    display: flex;
    justify-content: center;
}

form {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-image {
    width: 230px;
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
}

#form-register {
    padding: 1.3rem;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.div-form input {
    width: 280px;
    padding: 0.7rem;
    outline: none;
    border: none;
    border-radius: 0.3rem;
}

.femail,
.fpassword {
    display: block;
}

.button {
    padding: 1rem;
}

.button input {
    width: 280px;
    padding: 0.7rem;
    background-color: #665dfe;
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 0.3rem;
    cursor: pointer;
}

#btn-sign:hover {
    background-color: rgba(0, 0, 0, 0.5);
    transition-delay: 0.5s;
}

.button p {
    padding: 5px 0px;
    text-align: right;
}

.checkout {
    padding: 20px 0px;
}

.signup {
    padding: 20px 0px;
}

a {
    color: #665dfe;
    font-weight: bold;
}
