* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
    max-width: 350px;
    height: 100vh;
    background-color: #f8ecec;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
    margin-left: auto;
    margin-right: auto;
}

section {
    border-bottom: 1px solid #aaaaaa;
}

header {
    display: flex;
    flex-direction: column;
}

.header-icons {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-icons {
    display: flex;
    gap: 12px;
}

.imagem {
    width: 20px;
    height: 20px;
}

.input-icons {
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-icons input,
.input-icons select {
    padding: 8px 16px;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
}

.miolo {
    width: 95%;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    background-color: aqua;
    border-radius: 5px;
    border: 1px solid #aaaaaa;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr 2fr;
}

.miolo img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #545454;
}
